@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    height: 60em;
    background-image: url(img/main2.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    
    .titulo {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: center;
        flex-wrap: wrap;
        height: 30em;
        width: 100%;
        .titulo1{
            margin-top: 10em;
            margin-left: 14em;
            h1 {
                color: orange;
                font-size: 8em;
                text-transform: uppercase;
                font-family: 'Bebas Neue', cursive;
                font-weight: bold;
                
            }
            span{
                color: whitesmoke;
                padding: .2em;
            }
            
            p{
                color: white;
                font-size: 1.5em;   
                font-weight: bold;
            }
            .btn{
                font-size: 1.2em;
                font-weight: bold;
                border: solid .15em;
            }
        }
    }
}

.primeraMoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    .arriba {
        font-size: 3em;
        font-family: 'Bebas Neue', cursive;;
    }
    .abajo {
        font-size: 8em;
        font-family: 'Bebas Neue', cursive;
        color: orange;
    }
    .colorS {
        height: 52em;
    }
}

.blitzStart{
    height: auto;
    width: 100%;
    .start1{
        width: 30%;
        .start {
            font-size: 3.5em;
            margin-left: 2em;
            font-size:'Bebas Neue', cursive; 
            border-bottom: solid ;
            color: #27A2FF;
            font-weight: bold;
        }
    } 
}

.especifiC{
    display: flex;
    flex-wrap: wrap;
    .especifiC1{
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'PT Sans', sans-serif;
        color: orange;
        font-size: 1.5em;
        .especifiC1-1{
            margin-top: 2em;
            color: black;
            font-size: .8em;
        }
    }
    .especifiC2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1PX solid orange;
        border-bottom: 1PX solid orange;
        margin-top: 1.2EM;
        font-family: 'PT Sans', sans-serif;
        font-size: 1.1em;
    }
    .especifiC3{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1PX solid orange;
        border-bottom: 1PX solid orange;
        margin-top: 1.2EM;
        font-family: 'PT Sans', sans-serif;
        font-size: 1.1em;
    }
    .bolD{
        font-weight: bold;
        font-size: 1.2em;
    }
}


.usadosAccesorios{
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 3em;
flex-wrap: wrap;
.usadoS{
    height: 30em;
    padding-top: 1em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    margin-top: 3em;
    border: solid 3px orange;
    border-radius: 5%;
    .start{
        width: 100%;
        font-size: 2em;
        font-size:'Bebas Neue', cursive; 
        color:#27A2FF;
        font-weight: bold;
        text-align: center;
        padding-top: 1em;
    }
}
}

.wpp{
    padding: 2em;
    position: fixed;
    bottom: 1em;
    z-index: 100;
    left: .5em;   
    & img:hover {
        transform: scale(1.2);
        transition: 1s; 
    }
}

.up{
    padding: 2em;
    position: fixed;
    bottom: 1em;
    z-index: 100;
    right: .5em; 
    
}

.gestoriaFed {
margin-top: 3em;
}

.gestoriA1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: start;
    h2{
        font-size: 3em;
        font-family: 'Bebas Neue', cursive; 
        color: black;
        border-bottom: solid 3px #27A2FF;
        margin-bottom: 1em; 
    }  
    p{
    font-family:'PT Sans', sans-serif;
    font-size: 1.5em;
}
}

.contact {
    justify-content: space-around;
    align-items: center;
    height: 30em;
}

.horario {
    height: 20em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 3px #27A2FF;
    border-radius: 5%;
    
    h3{
        margin-bottom: 1.5em;
        font-size: 2em;
}   
    p{
        font-family:'PT Sans', sans-serif; 
        font-size: 1.5em;
        font-weight: bold;
    }

}

.telefono {
    height: 20em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 3px #27A2FF;
    border-radius: 5%;
    
    h3{
        margin-bottom: 1.5em;
        font-size: 2em;
}   
    p{
        font-family:'PT Sans', sans-serif; 
        font-size: 1.5em;
        font-weight: bold;
    }

}

.nomb {
    padding: 1em;
    text-align: start;
}

footer{
    background-color: black;
    height: 20em;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: end;
    ul{
        text-decoration: none;
        list-style: none;
        text-align: center;
        padding: 3em;
        li{
            padding-top: 1em;
            font-size: 1.2em;
            img{
                padding: .5em;
            }
        }
    }
    p{
        font-size: 1.2em;
    }
}
