@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100%;
  height: 50em;
  background-image: url(img/main2.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

main .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 30em;
  width: 100%;
}

main .titulo .titulo1 {
  margin-top: 10em;
  margin-left: 14em;
}

main .titulo .titulo1 h1 {
  color: orange;
  font-size: 8em;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
}

main .titulo .titulo1 span {
  color: whitesmoke;
  padding: .2em;
}

main .titulo .titulo1 p {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

main .titulo .titulo1 .btn {
  font-size: 1.2em;
  font-weight: bold;
  border: solid .15em;
}

.primeraMoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

.primeraMoto .arriba {
  font-size: 3em;
  font-family: 'Bebas Neue', cursive;
}

.primeraMoto .abajo {
  font-size: 8em;
  font-family: 'Bebas Neue', cursive;
  color: orange;
}

.primeraMoto .colorS {
  height: 52em;
}

.blitzStart {
  height: auto;
  width: 100%;
}

.blitzStart .start1 {
  width: 30%;
}

.blitzStart .start1 .start {
  font-size: 3.5em;
  margin-left: 2em;
  font-size: 'Bebas Neue', cursive;
  border-bottom: solid;
  color: #27A2FF;
  font-weight: bold;
}

.especifiC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.especifiC .especifiC1 {
  padding-left: 1em;
  padding-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'PT Sans', sans-serif;
  color: orange;
  font-size: 1.5em;
}

.especifiC .especifiC1 .especifiC1-1 {
  margin-top: 2em;
  color: black;
  font-size: .8em;
}

.especifiC .especifiC2 {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-top: 1PX solid orange;
  border-bottom: 1PX solid orange;
  margin-top: 1.2EM;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1em;
}

.especifiC .especifiC3 {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-top: 1PX solid orange;
  border-bottom: 1PX solid orange;
  margin-top: 1.2EM;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1em;
}

.especifiC .bolD {
  font-weight: bold;
  font-size: 1.2em;
}

.usadosAccesorios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.usadosAccesorios .usadoS {
  height: 30em;
  padding-top: 1em;
  height: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
  border: solid 3px orange;
  border-radius: 5%;
}

.usadosAccesorios .usadoS .start {
  width: 100%;
  font-size: 2em;
  font-size: 'Bebas Neue', cursive;
  color: #27A2FF;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}

/* .carousel-inner{
    height: 70em;
    img{
        height: 70em;
    };
} */
/* .gestoriA{
    height: 50vh;
    display: flex;
    border-radius: 50%; 
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(img/gestoria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3em;
    h2{
        font-size: 4em;
        font-family: 'Bebas Neue', cursive; 
        color: white;
        text-shadow: 0px 0px 12px black;
    }     
} */
/* .gestoriA1{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: start;
    margin: 3em;
} */
/* .carousel-caption{
    display: flex;
    justify-content: start;
    align-items: start;
} */
/*# sourceMappingURL=estilos.css.map */